*{
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 200;
}
body{
    min-height: 100vh;
    background-image: url(imagenes/fondoazul.png);
    
    margin: 0px;
}
.flex-container{
    display:flex;
    margin-top: 50px;

}

.form{
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    margin-top: auto;
    padding: 10px 125px;
    box-sizing: content-box;
    border-radius: 20px;
    border-style:groove;
    text-align: center;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.30);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(0.5px);
    border: 1px solid rgba(255, 255, 255, 0.18);


}
::placeholder{
    color: black;
}


.btn {
    position: relative;
    display: block;
    height: 60px;
    width: 300px;
    border-radius: 4px;
    text-transform: uppercase;
    background-color: transparent;
    color: rgb(101, 61, 245);
    font-size: 18px;
    overflow: hidden;
    transition: all 500ms ease;
    border: 2px solid steelblue;
    margin-left: auto;
    margin-right: auto;
    z-index: 0;
    font-weight: 700;
    cursor: pointer;
  }

.texto{
    color: #ff2227;
    text-shadow: 5px 5px 5px  rgb(255, 255, 255);
    background-color: transparent;
}

.img{
    margin-top: 10px;
    margin-left: 10px;
    margin-right: auto;
    padding: 0;
    background-color: transparent;
    width: 200px;
    border-radius: 100%;
}


@media (max-width:500px){
    .form{
        margin: 100px 100px;
        padding: 100px 100px;
    }
}

.topnav {
  overflow: hidden;
  background-color: transparent;
  height:65px;
  width: 100%;


}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding-top: 20px;
  padding-right: 20PX;
  padding-left:  20px;
  text-decoration: none;
  font-size: 20px;
  height: 65px;
  float: right;
}

.topnav a:hover {
  background-color: white;
  color:black;
}

.topnav a.active {
background-image: url(imagenes/logo.gif);
color: transparent;
background-size: 60px 60px;
float: left;
padding: 8px;
margin: 5px;
}

.topnav .icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}
.foot{
    width: auto;
    position: relative;
    height: auto;
    margin-left: 130px;
    margin-top: 50px;

}
.texto{
    color: #58ff22;
    text-shadow: 5px 5px 20px rgb(255 255 255);
    background-color: transparent;
}
h1{
    color:white;
}
div.aJugar{
    border-radius: 100%;
    background-size: 80px 80px;
}
